div.snap-drawers {
    background: #323949;
}

.snap-content {
    background: #BFC7D8;
}

.aggregation {
    color: #efefef;
}

.aggregation h1 {
    font-size: 15px;
    color: #ffffff;
}

.aggregation a {
    font-size: 13px;
    padding: 4px;
}

.aggregation a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.hideMe {
    display: none;
}

.showMe {
    display:list-item;
}